<section class="landing-page">
    <label class="banner-text">See How LEAP <br> Infuses Analytics Everywhere</label>
    <p> Watch this recorded LEAP demo to see the power of analytic infusion by embedding analytics into your workflows, processes, business applications, and products.
    </p>
</section>
<section class="form">
    <div class="form-container">
        <div class="inputs">
            <div>
                <input type="text" name="fullName" placeholder="Full Name">
                <input type="email" name="email" placeholder="Email Address">
            </div>
            <div>
                <input type="tel" name="phone" placeholder="Phone Number">
                <input type="text" name="company" placeholder="Company name">
            </div>
        </div>
        <div class="checkBox">
            <label class="checkbox-text" for="checkBox"><input type="checkbox" name="checkBox" id="checkBox">I agree to receive marketing and other emails from LEAP. <br> By submitting this form, I agree to LEAP's </label>
            <br>
            <label><span>privacy policy </span>and <span>terms of service.</span></label>
        </div>
        <div class="form-button">
            <button>Watch Demo</button>
        </div>
    </div>
</section>




<!-- <p> structural-directives works!</p>
<div *ngFor="let name of names; last as i">
    <h2>{{i +" " + name}}</h2>

</div>
<div *ngFor="let object of objects; last as i">
    <h2>{{i +" " + object.name}}</h2>

</div> -->